.SectionTasaCambio
{
    min-block-size: 625px;
    block-size: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.SectionTasaCambio .LeafSingleBackground
{
    block-size: 10%;

    margin-top: 10px;
    background-size: 50%;

}

.SectionTasaCambio .Content
{
    inline-size: 100%;
    block-size: 45%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    margin-bottom: 10px;
    
}

.SectionTasaCambio .Content .ContentHeader
{
    inline-size: 100%;
    block-size: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}



.SectionTasaCambio .ContentHeader h2
{
    inline-size: 70%;

    position: relative;

    border-bottom: var(--color-letter-soft) 2px solid;

    font-size: 7vw;
    text-align: end;
    padding-right: 3%;
    
    color: var(--color-letter-medium);
}

.SectionTasaCambio .ContentHeader span
{
    inline-size: 100%;
    block-size: 130%;

    display: inline-block;
    
    position: absolute;
    left: 0;
    bottom: 5px;

    background-image: url('./../../../assets/icons/TasaCambio.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.SectionTasaCambio .ContentHeader p
{
    inline-size: 80%; 

    margin-top: 15px;

    font-size: 1.4rem;
    font-weight: 400;      
    text-align: center;
    color: var(--color-letter-soft);
}



.SectionTasaCambio .ContentTasaCambio
{
    min-inline-size: 150px;
    inline-size: 40%;
    block-size: 37%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    box-shadow:rgb(0 0 0 / 16%) 0 3px 6px ;
}

.SectionTasaCambio .ContentTasaCambio p
{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-letter-constrast);
    margin-bottom: 10px;
}

.SectionTasaCambio .ContentTasaCambio p span
{
    inline-size: 30px;
    block-size: 20px;

    display: inline-block;

    position: relative;
    top: 5px;

    background-image: url('./../../../assets/icons/Transaccion.svg');
    background-repeat: no-repeat;
    background-size: contain;   
}

.SectionTasaCambio .Content .LinkButton 
{
    block-size: 13%;

    margin-bottom: 10px;
    padding-top: 14px;
    border-radius: 17px;    
    
}
