.ProductItem
{
    inline-size: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

}

.ProductItem .Product
{

    min-inline-size: 150px;
    min-block-size: 150px;
    inline-size: 70%;
    block-size: 170px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    margin-top: 30px;
    border-radius: 5px;
    box-shadow: #342e2e86 0px 0px 9px;

    background-image: linear-gradient(var(--color-gradient-dark),var(--color-gradient-soft));
    
}

.ProductItem .Product p
{
    font-size: 9vw;
    font-weight: 500;
    color: white;
}

.ProductItem .Product .LinkButtonExtern
{
    block-size: 19%;
    inline-size: 40%;
    
    position: relative;
    top: 30px;

    margin-top: 0;
    padding-top: 7px;
    border-radius: 5px;
    box-shadow: none;

    background-color: white;
    
    font-size: 4vw;
    line-height: 4vw;
    color: var(--color-letter-medium);

}

.ProductItem:last-of-type
{
    margin-bottom: 300px;
}

.ProductItem .Product .LinkButtonExtern span
{
    display: none;
}