.SectionIntro
{
    min-block-size: 625px;
    block-size: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    border-bottom: solid 3px var(--primary-color-dark);


}

.SectionIntro .LogoContainer
{
    inline-size: 85%;
    block-size: 240px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    position: relative;
    top: 60px;
    z-index: 10;

}

.SectionIntro .LogoContainer .Foto
{

    inline-size: 100%;
    block-size: 100%;

    object-fit: contain;
    
}

.SectionIntro .LogoContainer h1
{

    position: absolute;
    top: clamp(170px, 77% , 200px );
    left: clamp(10px , 30%, 100px);
    font-size: 5vw;
    text-align: right;
    color: var(--color-letter-medium);
}

.SectionIntro .LeafRotateX
{
    transform: rotatex(180deg);
}

.SectionIntro .LeafRotateY
{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;

    transform: rotatey(180deg);
}

@media (min-width : 426px)  
{
    .SectionIntro .LogoContainer .Foto
    {
        margin-top: 20px;
    }

    .SectionIntro .LogoContainer h1
    {
        font-size: 4.5vw;
        top: clamp(197px, 77% , 230px );
        left: clamp(104px, 31% , 230px );
    }

    
}

@media (min-width : 426px) 
{
    .ActionCard
    {
        max-inline-size: 411px;
    }

    .ActionCard h2
    {
        margin-top: 20px;
        font-size: 2rem;
    }

    .ActionCard ul
    {
        font-size: 1.5rem;
    }

    .ActionCard .LinkButton
    {
        block-size: 30%;
        inline-size: 50%;

        display: inline-block;

        padding-top: 15px;
        
        position: absolute;
        right: 20px;
        top: 110px;

    }

    .ActionCardSplitter .Buttons
    {
        inline-size: 390px;
    }
}

@media (min-width : 768px)  
{
    .SectionIntro .LogoContainer .Foto
    {
        margin-top: 20px;
    }

    .SectionIntro .LogoContainer h1
    {
        font-size: 3.0rem;
        top: clamp(205px, 77% , 230px );
        left: 200px;
    }

    .ActionCard
    {
        inline-size: 60%;
        max-block-size: 180px;
    }

    .ActionCard h2
    {
        margin-top: 30px;
        font-size: 2rem;
    }

    .ActionCard .LinkButton
    {
        block-size: 25%;
        inline-size: 50%;

        display: inline-block;

        padding-top: 15px;
        
        position: absolute;
        right: 20px;
        top: 140px;

    }

    .ActionCardSplitter .Buttons
    {
        inline-size: 450px;
        top:75px;
    }

    .ActionCard .Content
    {
        border-radius: 20px;
    }

}

@media (min-width : 1024px)  
{
    .SectionIntro .LogoContainer
    {
        inline-size: 350px;
        block-size: 350px;

        align-self: flex-start;
        
        position: relative;
        left: 100px;
        transform: scale(1.4);
    }

    .SectionIntro .LogoContainer h1
    {
        block-size: auto;
        left: 100px;
        top: 31vh;

        font-size: 2rem;

    }

    .ActionCardSplitter
    {
        overflow: visible;
    }

    .ActionCard.First
    {
        position: absolute;
        bottom: -20px;
        right: 150px;
        z-index: 1;
    }

    .ActionCardSplitter .ActionCard.Second
    {
        position: absolute;
        bottom: 180px;
        left: 600px;
        z-index: 2;
        transform: none;
    }

    .SectionIntro .LogoContainer .Foto
    {
        inline-size: 100%;
        block-size: 100%;
    }
    .SectionIntro .LeafRotateX
    {
        order: 2;
    }
    
}

@media (min-width : 1440px)  
{
    .SectionIntro .LogoContainer
    {
        inline-size: 450px;
        block-size: 450px;

        align-self: flex-start;
        
        position: relative;
        top: 150px;
        left: 210px;
        transform: scale(2);
    }

    .SectionIntro .LogoContainer h1
    {
        block-size: auto;
        left: 110px;
        top: 33vh;
        font-size: 2.8rem;

    }


    .ActionCard.First
    {  
        bottom: -20px;
        left: 850px;   
    }

    .ActionCardSplitter .ActionCard.Second
    {   
        bottom: 180px;
        left: 1000px;
    }
}

@media (min-width : 1760px)  
{
    .SectionIntro .LogoContainer
    {
        inline-size: 450px;
        block-size: 450px;

        align-self: flex-start;
        
        position: relative;
        top: 150px;
        left: 210px;
        transform: scale(2.5);
    }

    .SectionIntro .LogoContainer h1
    {
        font-size: 3rem;
        block-size: auto;
        left: 100px;
        top: 31vh;

    }


    .ActionCard.First
    {  
        bottom: -20px;
        left: 1100px;   
    }

    .ActionCardSplitter .ActionCard.Second
    {   
        bottom: 180px;
        left: 1200px;
    }
}